include ../burger/burger

mixin nav(data)
    +b.nav&attributes(attributes)
        .container
            .row
                +e.burger
                    +burger
                .col-md-6
                    +e.UL.list
                        +e.item
                            +e.link(href="#services") О компании
                        +e.item
                            +e.link(href="#price") Цены
                        +e.item
                            +e.link(href="#rent") Аренда Автобетононасоса
                        +e.item
                            +e.link(href="#map-section") Контакты
                .col-md-6
                    +e.contact
                        +e.A.back-call(href="#popup-call") Обратный звонок
                        +e.A.phone(href="tel:+73512301606") 
                            span +7(351) 
                            | 230-16-06
                        +e.A.phone(href="tel:+79127957697") 
                            span +7(912) 
                            | 795-76-97
