// Common styles of the project
@import "bootstrap-grid/dist/grid.css"

html, body
    height 100%


.page
    // Стили для body
    font-size 16px
    color #000
    max-width 1900px
    margin 0 auto
    font-family 'Roboto', sans-serif

.page__wrapper
    overflow hidden


* html .page__wrapper
    height 100%

.page__buffer
    height 50px

#siteNotice
    color red
