// File for less-vars.
// For example: main colors, paddings and so on.
@import "rupture/rupture"

$color-decor = #ff7200

rupture.scale = 0 768px 992px 1200px
rupture.scale-names = 'xs' 'sm' 'md'

// Burger buttons
$color-button = $color-decor
$button-radius = 40px
$button-line-height = 2px
$burger-width = 0.82 * $button-radius
$burger-gutter = 10px
