.statement
	padding 56px 0 60px
	background #dae2e6 url(__static__content/bg-bid.jpg) no-repeat
	background-size cover
	color #fff
	text-align center

	.form__input
		min-width 355px
		margin-right 10px

		+below(sm)
			min-width 35%
		+below(xs)
			min-width 90%
