.popup

.form.popup
	background-color #000
	// width 568px
	color #fff
	// padding 59px 38px 68px
	margin-bottom 20px
	text-align center

	+below(sm)
		font-size 25px

	.form__title
		margin-bottom 12px

	.form__subtitle
		font-size .5em
		margin-bottom 37px

	.form__input
	.form__area
		width 100%
		margin-bottom 14px

	.form__input
		padding 13px 29px 13px

	.form__btn
		+below(sm)
			padding 12px 10px

	&__message
		font-size 36px
		color #fff
		text-align center

		+below(sm)
			font-size 30px
		+below(xs)
			font-size 25px
