.title
	font-size 36px
	font-weight 700
	text-transform uppercase
	position relative
	margin-bottom 76px
	text-align center
	line-height 1.2

	&:before
		content ''
		width 171px
		height 3px
		background-color $color-decor
		position absolute
		left 50%
		bottom -32px
		margin-left -85px

	span
		font-size .662em
		font-weight 300
		display block
		text-transform none

	a
		color $color-decor
		border-bottom 1px dotted

	+below(xs)
		font-size 25px
