.about
	background-color #efefef
	padding-bottom 32px

	&__item
		background-color #fff
		padding 32px 15px 32px 125px
		height 148px
		box-shadow 0 2px 21px rgba(0, 0, 0, 0.1)
		font-size 30px
		font-weight 700
		text-transform uppercase
		border 3px solid transparent
		transition all .25s
		position relative
		margin-top -30px
		box-shadow 0 20px 9px -10px rgba(#000, .12)

		&:hover
			box-shadow inset 0 0 0 3px $color-decor, 0 20px 9px -10px rgba(#000, .12)
			border 3px solid #fff

		&:before
			content ''
			position absolute
			left 30px
			top 50%
			transform translateY(-50%)

		&_factory
			&:before
				bg($factory)
		&_year
			&:before
				bg($year)
		&_truck
			&:before
				bg($truck)
				left 16px


		span
			font-size 21px
			font-weight 300

		sup
			font-size 18px

		i
			font-weight 700
			text-transform uppercase

		+below(md)
			font-size 21px

			span
				font-size 14px

		+below(sm)
			margin-top 30px
