mixin price(data)
    +b.SECTION.price&attributes(attributes)#price
        .container
            +title Наши цены на бетон 
                span Вы можете подробнее ознакомиться с ценами, посмотрев 
                    a(href="#") прайс-лист

            table.wow.fadeInRight
                tbody
                    tr
                        th Название товара
                        th Характеристики
                        th Цена за 1 м<sup>3</sub>
                    tr
                        td Бeтон В7,5 - М100 (гравий)
                        td W2-F50
                        td 2 360 руб.
                    tr
                        td Бeтон В7,5 - М100 (гравий)
                        td W2-F50
                        td 2 360 руб.
                    tr
                        td Бeтон В7,5 - М100 (гравий)
                        td W2-F50
                        td 2 360 руб.
                    tr
                        td Бeтон В7,5 - М100 (гравий)
                        td W2-F50
                        td 2 360 руб.
                    tr
                        td Бeтон В7,5 - М100 (гравий)
                        td W2-F50
                        td 2 360 руб.
                    tr
                        td Бeтон В7,5 - М100 (гравий)
                        td W2-F50
                        td 2 360 руб.
                    tr
                        td Бeтон В7,5 - М100 (гравий)
                        td W2-F50
                        td 2 360 руб.
            +e.disc Миксер объемом 3 м3, 2000 руб./за рейс. Доставка обьёма не менее 6 кубов 450 руб./куб <br>Миксера обьёмом 3, 6, 8, 9, 10, 12 м3
