.price
	padding-bottom 86px

	table
		width 100%
		text-transform uppercase
		vertical-align middle
		text-align center
		margin-bottom 27px

		+below(xs)
			font-size 12px

		sup
			font-size 11px

	th
	td
		padding 23px 0 19px

		+below(xs)
			padding 12px 0

	th
		// background-image linear-gradient(to right, #4d4e4f 0%, #4d4e4f 25%, #4d4e4f 52%, #4d4e4f 78%, #4d4e4f 100%)
		background-color #4d4e4f
		color #fff
		font-weight 700

		&:nth-child(1)
			width 40%

	tr
		font-weight 300
		// background-image linear-gradient(to right, #dae2e6 0%, #dae2e6 25%, #dae2e6 52%, #dae2e6 78%, #dae2e6 100%)
		background-color #dae2e6

		&:nth-child(even)
			// background-image linear-gradient(to right, #f6f7f8 0%, #f6f7f8 25%, #f6f7f8 52%, #f6f7f8 78%, #f6f7f8 100%)
			background-color #f6f7f8

	&__disc
		font-size 14px
		font-weight 300
		line-height 20px
		position relative
		padding-left 22px
		margin-left 163px

		&:before
			content '* - '
			position absolute
			left 0

		+below(sm)
			margin-left 15px
		+below(xs)
			font-size 11px
			margin-left 5px
