include ../title/title

mixin services(data)
    +b.SECTION.services&attributes(attributes)#services
        .container
            +title Мы предоставляем 
                span лучшие условия сотрудничества по Челябинску и области
            +e.list
                +e.item.wow.fadeInLeft Удобные способы оплаты
                    span оплата по факту доставки
                +e.item.wow.fadeInRight Отсрочка платежа
                    span для юридических и физических лиц
                +e.item.wow.fadeInLeft Отсутствие недовоза
                    span собственная служба логистики
                +e.item.wow.fadeInRight Свой автопарк
                    span бетоносмесители по 6 м3, 8 м3, 12 м3 
                +e.item.wow.fadeInLeft Высокое качество бетона:
                    span предоставляем протокол испытаний и паспорт качества
                +e.item.wow.fadeInRight Гибкая система скидок
                    span для постоянных и новых клиентов
